@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

h3 {
    color: #939393;
    font-size: 14px
    }

.column1 {
    width: 33.33%;
    float: left;
    display: inline-block;
    border-right-color: #939393;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 1rem;
    
}

.column2 {
    width: 33.33%;
    display: inline-block;
    border-right-color: #939393;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 1rem;
}

.column3 {
    width: 33.33%;
    float: right;
    display: inline-block;
    padding: 0 1rem;
}